
    .desc{
      left: 20%;
      right: auto;
      width: 50%;
    }
    .lista_general{
      right: 22.50rem;
      width: 80%;
    }
    #yo{
      left: 20%;
      right: auto;
     
    }
    #fondo{
      width: 25rem;
      height: 25rem;
    }
  