*{
    padding: 0;
    margin: 0;  
}
:root{

--midnigth-green: #0f4c5c;
--batleship:#8a817c;
--silver:#bcb8b1;
--palatine:#4c1e4f;
--violet:#502f4c;


}
.header-container{
    background-color: var(--violet);
    padding: 30px;    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.imagen-container{
    border: var(--batleship) solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    border-radius: 50%;
    background-image: url(/MicrosoftTeams-image\ \(20\).png);
    background-size: 231px;
    background-position: -20px;
}
.subtitulo-container{
    color: var(--silver);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
}
.main-container{
    padding: 40px;
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px
}
.container-social-media{
    color: var(--silver);
    background-color: var(--midnigth-green);
    display: flex;
    flex-direction: row;
    gap: 144px;
    width: 250px;
    height: 75px;
    border: solid var(--midnigth-green) 2px;
    align-items: center;

}
.logo-conainer{
    display: flex;
    text-align: right;
    justify-content: right;
    position: relative;
    left: 15px;
   
}
.container-texto{
    display: flex;
    text-align: left;
    justify-content: left;
}