*{
    padding: 0;
    margin: 0;  
}
:root{

--midnigth-green: #0f4c5c;
--batleship:#8a817c;
--silver:#bcb8b1;
--palatine:#4c1e4f;
--violet:#502f4c;

--umber: #776258;
--nigth: #071108;
--black: #000;
--marianBlue: #003f91;
--frenchGray: #b5bec6;
--tyrianPurple: #600047;

--umber: #776258;
--darkCyan: #558c8c;
--flax: #ffee93;
--lavander: #e1dee9;
--paleDogwood: #d4bebe;
}
.header-container{
    background-color: var(--black);
    padding: 30px;    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.imagen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    border-radius: 50%;
    background-image: url(/MicrosoftTeams-image\ \(20\).png);
    background-size: 231px;
    background-position: -20px;
}
.subtitulo-container{
    color: var(--frenchGray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
}
.main-container{
    padding: 40px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px
}
.container-social-media{
    color: var(--silver);
    background-color: var(--umber);
    display: flex;
    flex-direction: row;
    gap: 144px;
    width: 250px;
    height: 75px;
    border: solid var(--marianBlue) 1px;
    align-items: center;

}
.logo-conainer{
    display: flex;
    text-align: right;
    justify-content: right;
    position: relative;
    left: 15px;
    color: var(--frenchGray);
   
}
.container-texto{
    display: flex;
    text-align: left;
    justify-content: left;
    color: var(--frenchGray);

}