*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 25px;
    font-family: "Lato", sans-serif;
 }

.encabezado {
    background-color: #42708f;
    right: 500px;
    width: auto;
    height: 15rem;
    overflow: hidden;
}

body{
    
}


#fondos{
    position: fixed;
    width: 76.8rem;
    height: 39rem;
    overflow: hidden;
}
#yo{
    position: relative;
    left: 33rem;
    border-radius: 6rem;
    border: 0.2rem solid  rgb(176, 62, 252);;
    padding: 0.1rem;
    width: 8.5rem;
    height: 8.5rem;
    right: 1rem;
    top: 1rem;
    animation-name: imagen;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    overflow: hidden;
}
.desc{
    
        display: inline-block;
        position: relative;
        padding: 2px 30px;
        left: 16.7rem;
        top: 4rem;
        color: rgb(238, 5, 5);
        font-family: 1px "Rubik", sans-serif;
        font-size: 30px;
        text-decoration: none;
        font-style: italic;
        font-weight: 800;
        overflow: hidden;
      
}
.lista_general{
    position: relative;
    display: flexbox;
    position: relative;
    align-items: center;
    text-align: center;
    max-width: 700px;
    height: 1rem;
    z-index: 99;

}
.li {
    text-orientation: initial;
    align-items: center;
    text-align: center;
    position: relative;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    border: solid black;
    top: 5rem;
    left: 24.1rem;
    height: 3rem;
    transition: 700ms;
    animation-name: neones;
    animation-iteration-count: infinite;
    animation-duration: 4s;
  }

  .li_a {
    align-items: center;
    display: flex;
    list-style: none;
    text-decoration: dashed;
     font-style: italic;
     font-weight: 600;
    color: black;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    color: rgb(228, 7, 7);
  }

  .imagen2 {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    transition: all 700ms;
    overflow: hidden;
  }

  .li:hover {
    transform: scale(1.1);
    transition: all 700ms;
  }
  .li:hover .imagen2 {
    transform: rotate(360deg) scale(1.5);
    transition: all 500ms;
  }
  #Instragram:hover {
    background-color: rgb(12, 2, 12);   
    transition: 700ms;
  }
  #Twitter:hover {
    background-color: rgb(12, 2, 12);
    transition: 700ms;
  }
  #GitHub:hover {
    background-color: rgb(12, 2, 12);
    transition: 700ms;
  }
  #Linkedin:hover {
    background-color: rgb(12, 2, 12);
    transition: 700ms;
  }
  #Discord:hover {
    background-color: rgb(12, 2, 12);
    transition: 700ms;
  }

  




 







  