.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  
  @keyframes flash {
    0%, 50%, 100% {
        border: solid #558c8c 3px;
        -webkit-box-shadow: 0px 0px 112px -4px rgba(85,140,140,1);
        -moz-box-shadow: 0px 0px 112px -4px rgba(85,140,140,1);
        box-shadow: 0px 0px 112px -4px rgba(85,140,140,1);
    }
    
    25%, 75% {
        border: solid #e1dee9 3px;
        -webkit-box-shadow: 0px 0px 112px -4px rgba(225,222,233,1);
        -moz-box-shadow: 0px 0px 112px -4px rgba(225,222,233,1);
        box-shadow: 0px 0px 112px -4px rgba(225,222,233,1);
    }
  }
  @keyframes flashContainer {
    0%, 50%, 100% {
        border: solid #558c8c 2px;

    }
    
    25%, 75% {
        border: solid #e1dee9 2px;

    }
  }
  
  .imagen-container {
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }

  .container-social-media:hover{
    animation: none;
    background-color:var(--paleDogwood);
    border: solid var(--darkCyan) 2px;
    transform: scale(1.1);
    transition: all 800ms;
    
}

.container-social-media:hover .logo-container {
  transform: rotate(360deg) scale(1.5);
  transition: all 500ms;
  color: var(--darkCyan);
  
}
.container-social-media:hover .container-texto {
    color: var(--darkCyan);
    
}  