*{
    padding: 0;
    margin: 0;  
}
:root{

/*fondo*/--umber: #776258;
/*fondo cuadros*/--darkCyan: #558c8c;
/*no hay uso*/--flax: #ffee93;
/*texto*/--lavander: #e1dee9;
/*hoover; fondo*/--paleDogwood: #d4bebe;

}
.links-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-decoration: none;
outline: none; 
}
.header-container{

    background-color: var(--umber);
    padding: 30px;    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.imagen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 159px;
    border-radius: 50%;
    border: solid var(--darkCyan) 3px;
    background-image: url(/gojo.png);
    background-repeat: no-repeat;
    background-size: 185px;
    background-position: -1px;
    
}

.subtitulo-container{
    color: var(--lavander);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-family: 'Cinzel', serif;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
.main-container{
    padding-top: 20px;
    padding-bottom: 34px;
    background: rgb(119,98,88);
    background: linear-gradient(180deg, rgba(119,98,88,1) 38%, rgba(164,144,141,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:12px
}
.container-social-media{
    color: var(--lavander);
    background-color: var(--darkCyan);
    display: flex;
    flex-direction: row;
    gap: 144px;
    width: 250px;
    height: 75px;
    border: solid var(--paleDogwood) 2px;
    border-radius: 9px;
    align-items: center;

}
.logo-container{
    display: flex;
    text-align: right;
    justify-content: right;
    position: relative;
    left: 15px;
    color: var(--lavander);
   
}
.container-texto{
    display: flex;
    text-align: left;
    justify-content: left;
    color: var(--lavander);
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 13px;
    
}
